<html>
<head>
    <title>Prova Silex 2019</title>
</head>
<body>
<h1>Modifica Libro</h1>
<div>
    <form action="/insert" method="post">
        Titolo
        <input name="titolo" type="text">
        Autore
        <input name="autore" type="text">
        Prezzo
        <input name="prezzo" type="text">

        <button type="submit">Salva</button>
    </form>
</div>
</body>
</html>