<html>
    <head>
        <title>Prova Silex 2019</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
    <h1>Libri</h1>
        <input type="button" value="filtra" id="filtra" onclick="hideshow()"/>
            <form id="formFilter" hidden>
                Titolo
            <input name="titolo" id="titoloFilter" type="text" />
                Autore
            <input name="titolo" id="autoreFilter" type="text" />
            <input type="button" onclick="filterBooks()" value="Salva" />
                <input type="button" onclick="clearAndHide()" value="Clear" />
            </form>
    <table id="tabellaLibri">
        <thead>
        <tr>
            <th id="title" onclick="order('title')"> Titolo</th>
            <th id="author" onclick="order('author')"> Autore</th>
            <th id="price" onclick="order('price')"> Prezzo</th>
        </tr>
        </thead>
        <tbody id="tbodyLibri">
        </tbody>

    </table>
    <form>
        <input type="button" onclick="toggleForm(false)" value="Inserisci"/>
        <hr>
        <div id="insertNewBook" hidden >
            <input hidden name="id" id ="id" />
            Titolo
            <input name="titolo" id="titolo" type="text">
            Autore
            <input name="autore" id="autore" type="text">
            Prezzo
            <input name="prezzo" id="prezzo" type="text">

            <input type="button" onclick="saveBook()" value="Salva" />
        </div>
        <input id="back" type="button" value = "Indietro" onclick="indietroavanti(false)" hidden/><input id="forward" type="button" value = "Avanti" onclick="indietroavanti(true)" hidden/>
        <p id="pagine" />
    </form>
    </body>
</html>

<script>

    page = 1;
    defaultOrder = 'ASC';
    defaultColumn = 'title';
    max_page = 0;

    function toggleForm(rowId) {
        if (rowId) {
            var title = $(`#bookRow${rowId} .titleTd`).html();
            var author = $('#bookRow'+rowId+ " .authorTd").html();
            var price = $('#bookRow'+rowId+ " .priceTd").html();

            $("#id").val(rowId);
            $("#titolo").val(title);
            $("#autore").val(author);
            $("#prezzo").val(price);
        } else {
            $("#titolo").val(null);
            $("#autore").val(null);
            $("#prezzo").val(null);
        }
        if ($('#insertNewBook').is(":hidden")){
            $('#insertNewBook').show();
        } else {
            $('#insertNewBook').hide();
        }
    }

    function filterBooks() {
        var titolo = $('#titoloFilter').val();
        var autore = $('#autoreFilter').val();
        $("#tbodyLibri").empty();
        $.ajax('/read',
            {
                method: 'POST',
                dataType: 'json',
                data: {
                    filters : {
                        titolo : titolo,
                        autore : autore,
                    },
                    page: page,
                    order: defaultOrder,
                    column: defaultColumn,
                },
                success: function (response)
                {
                    records = response.count;
                    if (records%5 == 0){
                        max_page = records/5;
                    } else {
                        max_page = Math.floor(records / 5) + 1;
                    }
                    $("#pagine").empty();
                    $("#pagine").append(page + " di " + max_page);
                    if (page == 1 && max_page != 1) {
                        $('#back').hide();
                        $('#forward').show();
                    } else if (page >= max_page && max_page != 1) {
                        $('#back').show();
                        $('#forward').hide();
                    } else if (max_page == 1) {
                        $('#back').hide();
                        $('#forward').hide();
                    } else {
                        $('#back').show();
                        $('#forward').show();
                    }

                    $.each(response.data, function(contatore, row)
                    {
                        $("#tbodyLibri").append(
                            `<tr id="bookRow${row.id}">
                                <td class="titleTd">${row.title}</td>
                                <td class="authorTd">${row.author}</td>
                                <td class="priceTd">${row.price}</td>
                                <td>
                                        <input type="button" name="bottoneCancella" value="Cancella" onclick="deleteBook(${row.id})"/>
                                </td>
                                <td>
                                        <input type="button" name="bottoneModifica" value="Modifica" onclick="toggleForm(${row.id})"/>
                                </td>
                            </tr>`)
                    });
                }
            }
        )
    }

    function deleteBook(id) {
        //console.log(id);
        $.ajax('/delete',
            {
                method: 'POST',
                dataType: 'json',
                data: {
                    id : id
                },
                success: function(response)
                {
                    filterBooks();
                }

            })
    }

    function saveBook() {
        var id = $('#id').val();
        var titolo = $('#titolo').val();
        var autore = $('#autore').val();
        var prezzo = $('#prezzo').val();

        $.ajax('/save',
            {
                method: 'POST',
                dataType: 'json',
                data: {
                    id : id,
                    titolo : titolo,
                    autore : autore,
                    prezzo : prezzo
                },
                success: function(response)
                {
                    $('#id').val("");
                    $('#insertNewBook').hide();
                    filterBooks();
                }
            })
    }

    $(function() {
        filterBooks();
    });

    function clearAndHide() {
        $('#titoloFilter').val("");
        $('#autoreFilter').val("");
        page = 1;
        filterBooks();

        if ($('#formFilter').is(":hidden")){
            $('#formFilter').show();
        } else {
            $('#formFilter').hide();
        }
    }

    function hideshow() {
        if ($('#formFilter').is(":hidden")){
            $('#formFilter').show();
        } else {
            $('#formFilter').hide();
        }
    }

    function indietroavanti(metodo) {
        if (metodo == true) {
            page++;
            filterBooks();
        } else {
            page--;
            filterBooks();
        }
    }

    $(document).ready(function(){
        $('#titoloFilter').change(function () {
            page = 1;
        });
        $('#autoreFilter').change(function () {
            page = 1;
        })
    });

    function order(colonna) {
        defaultColumn = colonna;
        if (defaultOrder == 'ASC') {
            $('#descPic').remove();
            $('#ascPic').remove();
            $('#' + defaultColumn).append(`<img id="descPic" src="DESC.png" width=12 height=12/>`);
            defaultOrder = 'DESC';
        } else {
            $('#descPic').remove();
            $('#ascPic').remove();
            $('#' + defaultColumn).append(`<img id="ascPic" src="ASC.png" width=12 height=12/>`);
            defaultOrder = 'ASC';
        }
        filterBooks();

    }
</script>