<html>
    <head>
        <title>Prova Silex 2019</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
    <h1>Libri</h1>
        <input type="button" value="filtra" id="filtra" onclick="hideshow()"/>
            <form id="formFilter" hidden>
                Titolo
            <input name="titolo" id="titoloFilter" type="text" />
                Autore
            <input name="titolo" id="autoreFilter" type="text" />
            <input type="button" onclick="filterBooks()" value="Salva" />
                <input type="button" onclick="clearAndHide()" value="Clear" />
            </form>
    <table id="tabellaLibri">
        <thead>
        <tr>
            <th>Titolo</th>
            <th>Autore</th>
            <th>Prezzo</th>
        </tr>
        </thead>
        <tbody id="tbodyLibri">
        </tbody>

    </table>
    <form>
        <input type="button" onclick="toggleForm(false)" value="Inserisci"/>
        <hr>
        <div id="insertNewBook" hidden >
            <input hidden name="id" id ="id" />
            Titolo
            <input name="titolo" id="titolo" type="text">
            Autore
            <input name="autore" id="autore" type="text">
            Prezzo
            <input name="prezzo" id="prezzo" type="text">

            <input type="button" onclick="saveBook()" value="Salva" />
        </div>
    </form>
    </body>
</html>

<script>
    function toggleForm(rowId) {
        if (rowId) {
            var title = $(`#bookRow${rowId} .titleTd`).html();
            var author = $('#bookRow'+rowId+ " .authorTd").html();
            var price = $('#bookRow'+rowId+ " .priceTd").html();

            $("#id").val(rowId);
            $("#titolo").val(title);
            $("#autore").val(author);
            $("#prezzo").val(price);
        } else {
            $("#titolo").val(null);
            $("#autore").val(null);
            $("#prezzo").val(null);
        }
        if ($('#insertNewBook').is(":hidden")){
            $('#insertNewBook').show();
        } else {
            $('#insertNewBook').hide();
        }
    }

    function readBooks() {
        $("#tbodyLibri").empty();
        $.ajax('/read',
            {
                method: 'POST',
                dataType: 'json',
                success: function(response)
                {
                    $.each(response.data, function(contatore, row)
                    {
                        $("#tbodyLibri").append(
                            `<tr id="bookRow${row.id}">
                                <td class="titleTd">${row.title}</td>
                                <td class="authorTd">${row.author}</td>
                                <td class="priceTd">${row.price}</td>
                                <td>
                                        <input type="button" name="bottoneCancella" value="Cancella" onclick="deleteBook(${row.id})"/>
                                </td>
                                <td>
                                        <input type="button" name="bottoneModifica" value="Modifica" onclick="toggleForm(${row.id})"/>
                                </td>
                            </tr>`)
                    });
                }
            }
        )
    }

    function filterBooks() {
        var titolo = $('#titoloFilter').val();
        var autore = $('#autoreFilter').val();
        $("#tbodyLibri").empty();
        $.ajax('/read',
            {
                method: 'POST',
                dataType: 'json',
                data: {
                    filters : {
                        titolo : titolo,
                        autore : autore,
                    }
                },
                success: function (response)
                {
                    $.each(response.data, function(contatore, row)
                    {
                        $("#tbodyLibri").append(
                            `<tr>
                                <td>${row.title}</td>
                                <td>${row.author}</td>
                                <td>${row.price}</td>
                            </tr>`)
                    });
                }
            }
        )
    }

    function deleteBook(id) {
        //console.log(id);
        $.ajax('/delete',
            {
                method: 'POST',
                dataType: 'json',
                data: {
                    id : id
                },
                success: function(response)
                {
                    readBooks();
                }

            })
    }

    function saveBook() {
        var id = $('#id').val();
        var titolo = $('#titolo').val();
        var autore = $('#autore').val();
        var prezzo = $('#prezzo').val();

        $.ajax('/save',
            {
                method: 'POST',
                dataType: 'json',
                data: {
                    id : id,
                    titolo : titolo,
                    autore : autore,
                    prezzo : prezzo
                },
                success: function(response)
                {
                    $('#id').val("");
                    $('#insertNewBook').hide();
                    readBooks();
                }
            })
    }

    $(function() {
        readBooks();
    });

    function clearAndHide() {
            $('#titoloFilter').val("");
            $('#autoreFilter').val("");
        readBooks();

        if ($('#formFilter').is(":hidden")){
            $('#formFilter').show();
        } else {
            $('#formFilter').hide();
        }
    }

    function hideshow() {
        if ($('#formFilter').is(":hidden")){
            $('#formFilter').show();
        } else {
            $('#formFilter').hide();
        }
    }

</script>