<html>
    <head>
        <title>Prova Silex 2019</title>
    </head>
    <body>
        <h1>LIbri</h1>
        <table>
            <thead>
                <tr>
                    <th>Titolo</th>
                    <th>Autore</th>
                    <th>Prezzo</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libri %}
                <tr>

                        <td>{{ libro.title }}</td>
                        <td>{{ libro.author }}</td>
                        <td>{{ libro.price }}</td>
                        <td>
                            <form action="/delete">
                                <input type="text" name="id" value="{{ libro.id }}" hidden>
                                <button>Cancella</button>
                            </form>
                        </td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
        <form action="/edit">
            <button type="submit">Inserisci</button>
        </form>
    </body>
</html>
