<html>
    <head>
        <title>Prova Silex 2019</title>
    </head>
    <body>
        <h1>Ancora Silex?!?</h1>
        <table>
            <thead>
                <tr>
                    <th>Titolo</th>
                    <th>Autore</th>
                    <th>Prezzo</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libri %}
                <tr>

                        <td>{{ libro.title }}</td>
                        <td>{{ libro.author }}</td>
                        <td>{{ libro.price }}</td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
    </body>
</html>
